name: circuit profiling

on:
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: nargo info
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Nargo
        uses: noir-lang/noirup@v0.1.4
        with:
          toolchain: 1.0.0-beta.18

      - name: Run nargo info
        run: nargo info --workspace --silence-warnings --skip-brillig-constraints-check | tee profiling_info.txt

      - name: Archive profiling artifacts
        uses: actions/upload-artifact@v4
        with:
          name: profiling_info
          path: |
            profiling_info.txt
